body {
    font-family: 'Raleway', 'sans-serif';
    font-weight: 400;
}

a, a:hover, a:focus{
    text-decoration: none;
}

.navbar {
	margin-bottom: 0;
	background-color: #ecf0f1;
    border: none;
	opacity:0.9;
}


#search-input{
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #aaa;
    padding: 3px 10px;
}
#myCarousel{
    height: 600px;

}
.carousel-inner img {
	-webkit-filter: grayscale(90%);
	filter: grayscale(90%); /* make all photos black and white */
	width: 100%; /* Set width to 100% */
	margin: auto;
}

.carousel-caption h3 {
   color: #fff !important;
}

@media (max-width: 600px) {
	.carousel-caption {
		display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
	}
}
