body{
    padding-top: 60px !important;
}
.story{
    padding: 24px;
    margin-bottom: 10px;
    background-color: #bdc3c7;
    line-height: 1.5;
}

.story .title{
    font-size: 2em;
}

.story .op{
    font-weight: bold;
}

.story .description{
    margin-top: 20px;
}

.story-image img{
    width: 100%;
    margin: auto;
}

.story-image{
    overflow: hidden;
    max-height: 200px;
    vertical-align: middle;
    margin: -24px -24px 24px -24px;
}
