{% extends "base.html" %}
{% load staticfiles %}


{% block title %}
    Story | Create
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/add-story.css'%}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-wrapper">
                <div class="title">Add a new story</div>
                <form id="story-form" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                    <input type="text" name="title" placeholder="Title" required />
                    <input type="file" name="image" accept="image/*" />
                    <textarea name="description" placeholder="Description" form="story-form"></textarea>
                    <input class="btn btn-default" type="submit"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
