{% extends "base.html" %}


{% block title %}
    Story | Edit
{% endblock %}

{% block content %}
    <form id="story-form" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <input type="text" name="title" placeholder="Title" value="{{story.story_title}}"required />
        <input type="file" name="image" accept="image/*"/>
        <input type="submit" value="Update" />
    </form>
    <textarea name="description" placeholder="Description" form="story-form">{{story.story_description  }}</textarea>
{% endblock %}
i
