{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    {{block.super}}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css'%}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% for story in stories %}
        <div class="col-md-6">
            <div class="story">
                <div class="row">
                    <div class="col-md-12">
                        {% if story.story_image %}
                        <div class="story-image">
                            <img src="{{story.story_image.url}}" alt=""/>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="title">
                            <a href="{% url 'story:story' story.author.user.username|slugify story.story_title|slugify %}">{{story.story_title}}</a>
                        </div>
                        <div class="op">
                            by <a href="{% url 'author:show_profile' story.author.user.username|slugify %}">{{story.author.user.username}}</a>
                        </div>
                        <div class="description">
                            {{story.story_description|linebreaks}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if stories.has_previous %}
                <a href="?{{page_request_var}}={{ stories.previous_page_number }}
                {% if request.GET.query %}&query={{request.GET.query}}
                {% endif %}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ stories.number }} of {{ stories.paginator.num_pages }}.
            </span>
            {% if stories.has_next %}
                <a href="?{{page_request_var}}={{ stories.next_page_number }}
                {% if request.GET.query %}&query={{request.GET.query}}
                {% endif %}">next</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}
