{% extends "base.html" %}


{% block title %}
	Update | {{instance.user.username}}
{% endblock %}


{% block content %}
	<form method="POST" action="" id="profile-form" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="text" name="first_name" placeholder="First Name" value="{{instance.first_name}}" required />
		<input type="text" name="last_name" placeholder="Last Name" value="{{instance.last_name}}" required />
		<img src="{{instance.author_image.url}}" alt="" width="10%" height="10%"/>
		<input type="file" name="image" accept="image/*"/>
		<input type="submit" value="Update" />
	</form>
	<textarea name="bio" form="profile-form" placeholder="Bio" required>{{instance.author_bio}}</textarea>
{% endblock %}
