{% extends "base.html" %}

{% block title %}
	{{block.super}}| SignUp
{% endblock %}

{% block content %}
	{% if error %}
		{{error}}
	{% endif %}
	<form method="POST" action="">
		{% csrf_token %}
		<input type="text" name="username" placeholder="UserName" required />
		<input type="email" name="email" placeholder="example@example.com" required />
		<input type="password" name="password1" placeholder="Password" required />
		<input type="password" name="password2" placeholder="Confirm Password" required />
		<input type="submit" value="Sign Up" />
	</form>
{% endblock %}
